<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> <a href="#">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
		<li class="active">Dashboard</li>
	</ul><!--.breadcrumb-->

	<div id="nav-search">
		<form class="form-search">
				<span class="input-icon">
					<input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." />
					<i id="nav-search-icon" class="icon-search"></i>
				</span>
		</form>
	</div><!--#nav-search-->
</div><!--#breadcrumbs-->